flows/EventRegistration-SendEmail/Microsoft.Flow/flows/e82a70ce-bc9c-4e1e-8c7d-83099ccac6f6/definition.json
{"name":"20863332-06a5-42af-8108-256ff8c37fa2","id":"/providers/Microsoft.Flow/flows/20863332-06a5-42af-8108-256ff8c37fa2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Event Registration - Send Email","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4af50d87-e728-484e-874c-3f4536b38fee","type":"User","tenantId":"aecb54e0-7430-409d-86a4-7639c743eee7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-03-10T15:36:25.7962249Z","connectionKeySavedTimeKey":"2026-03-10T15:36:25.7962249Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created_or_modified":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/event-reg","table":"286f445d-aaa0-4727-b223-37ceb7b455aa"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnUpdatedItems"},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@contains(createArray('Cancel', 'Custom', 'Uncancel'), triggerOutputs()?['body/SendEmail/Value'])"}]}},"actions":{"POCs":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"POCs","type":"array"}]}},"Registered_Users":{"runAfter":{"Loop_through_POCs":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RegisteredUsers","type":"array"}]}},"Loop_through_POCs":{"foreach":"@triggerOutputs()?['body']?['POC']","actions":{"Append_POC":{"type":"AppendToArrayVariable","inputs":{"name":"POCs","value":"@items('Loop_through_POCs')['EMail']"}}},"runAfter":{"POCs":["Succeeded"]},"type":"Foreach"},"Loop_through_Registered_Users":{"foreach":"@triggerBody()?['RegisteredUsers']","actions":{"Append_Registered_User":{"type":"AppendToArrayVariable","inputs":{"name":"RegisteredUsers","value":"@items('Loop_through_Registered_Users')['EMail']"}}},"runAfter":{"Registered_Users":["Succeeded"]},"type":"Foreach"},"Switch":{"runAfter":{"Loop_through_Registered_Users":["Succeeded"]},"cases":{"Cancel_Event":{"case":"Cancel","actions":{"Send_Cancel_Email":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@join(variables('RegisteredUsers'), '; ')","emailMessage/Subject":"Event @{triggerBody()?['Title']} Cancelled","emailMessage/Body":"<p class=\"editor-paragraph\">Event Members,</p><br><p class=\"editor-paragraph\">The event has been cancelled.</p><br><p class=\"editor-paragraph\">Thanks,</p><p class=\"editor-paragraph\">Event Registration Admins</p>","emailMessage/Cc":"@join(variables('POCs'), '; ')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"Custom":{"case":"Custom","actions":{"Parse_Send_Email_Info":{"type":"ParseJson","inputs":{"content":"@triggerBody()?['SendEmailInfo']","schema":{"To":"","CC":"","Subject":"","Body":""}}},"Send_Custom_Email":{"runAfter":{"Parse_Send_Email_Info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Parse_Send_Email_Info')['To']","emailMessage/Subject":"@body('Parse_Send_Email_Info')['Subject']","emailMessage/Body":"@body('Parse_Send_Email_Info')['Body']","emailMessage/Cc":"@body('Parse_Send_Email_Info')['CC']","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"Uncancel_Event":{"case":"Uncancel","actions":{"Send_Uncancel_Email":{"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@join(variables('RegisteredUsers'), '; ')","emailMessage/Subject":"Event @{triggerBody()?['Title']} Cancelled","emailMessage/Body":"<p class=\"editor-paragraph\">Event Members,</p><br><p class=\"editor-paragraph\">The event is no longer cancelled.</p><br><p class=\"editor-paragraph\">Thanks,</p><p class=\"editor-paragraph\">Event Registration Admins</p>","emailMessage/Cc":"@join(variables('POCs'), '; ')","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@triggerBody()?['SendEmail/Value']","type":"Switch"},"Clear_Send_Email_Info":{"runAfter":{"Switch":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/event-reg","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('Events')/items(@{triggerBody()?['ID']})","parameters/headers":{"IF-MATCH":"*","X-HTTP-Method":"MERGE"},"parameters/body":"{\n  \"SendEmail\": null,\n  \"SendEmailInfo\": null\n}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-66a6d844-5e1b-4fa5-a8f1-40d37f28a005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-0f5dbe87-55c2-42fe-acb8-a951635aebe6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}